*{
    font-family: 'Nunito';
    max-width: 100%;
}
.topnav{
    display: flex;
    justify-content: space-between;
}
.nav{
    margin-left: -20px;
    margin-bottom: 0%;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0%;
    block-size: fit-content;
    width: fit-content;
}
.logo {
text-align: center;
float: left;
display: block;
}

.section1{
    line-height: 30px;
    margin-top: 5%;
    max-width: fit-content;
}
.flex {
 display: flex;
 justify-content: space-between;
 align-content: center;
 width: 90%;
 margin-top: -50px;
 margin-left: 10%;
}
.heading2{
    color: #EC4067;
    font-size:x-large;
}
.B2{
    border-left-color: #EC4067;
    border-right-color: #EC4067;
    color: #242424;
    background-color: aliceblue;
    margin-left: 20px;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.section4{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
 }
.text{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 25px;
}
.s1{
    margin-left: 10%;
}
.s2{
    margin-left: 10%;
}
button{
    background-color:#EC4067;
    color:whitesmoke;
    border: 0cm;
}
.section5{
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.section5 div{
    margin: 1%;
    width: 80%;
    line-height: 25px;
}
.section6{
    display:flex;
    justify-content: space-between;
}
.section6 div{
    margin: 0.5%;
    width: 80%;
    line-height: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
div h3,h4{
    margin-left: 10%;
}
.F1{
    margin-left: 10%;
}
.F4{
    color: #EC4067;
}